body {
    margin: 0%;
    font-family: Poppins, sans serif;
  }
  
  /* Navbar */
  
  .topNav {
    overflow: hidden;
    background-color: #000000;
    margin-top: 0%;
  }
  
  .navLink {
    float: left;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }
  
  .topNavRight {
    float: right;
  }
  
  .topNav a:hover {
    background-color: #000282;
    color: #c000a9;
  }
  
  .topNav a.active {
    background-color: #c000a9;
    color: #ffffff;
  }
  
  /* Top section */
  
  .top {
    height: 710px;
    margin-top: 20px;
    margin-bottom: 20px;
  }
  
  .headerImage {
    width: 433px;
    height: auto;
    display: block;
    margin-left: 50px;
    margin-right: 20px;
    opacity: 1;
    border-radius: 3px 3px;
    float: left;
  }
  
  img {
    margin-left: 50px;
    margin-right: 50px;
    border-radius: 3px 3px;
  }
  
  p {
    font-family: Poppins, sans serif;
    font-size: 16px;
    color: #000000;
    text-align: left;
    margin-left: 50px;
    margin-right: 50px;
    margin-top: 2em;
  }
  
  h1 {
    text-align: left;
    text-transform: uppercase;
    letter-spacing: 3px;
    margin-top: 25px;
  }
  
  .text {
    padding-left: 2em;
    padding-right: 2em;
    margin-left: 50px;
    margin-right: 0px;
  }
  
  /* Middle */
  
  .middle {
    height: 710px;
    margin-bottom: 20px;
  }
  
  .imgTextOverlay {
    width: 433px;
    height: 300px;
    position: relative;
    text-align: left;
    color: white;
    font-size: 40px;
    font: optional;
    float: left;
  }
  
  .middleImage {
    width: 433px;
    height: auto;
    float: left;
  }
  
  .textOverlay {
    float: left;
    margin-left: -370px;
    margin-top: 300px;
    color: #ffffff;
    font-size: 25px;
  }
  
  .middleText {
  }
  
  /* Bottom */
  
  .bottom {
    height: 710px;
    margin-bottom: 20px;
  }
  
  .bottomImage {
    width: 28%;
    height: auto;
    float: left;
  }
  
  footer {
    margin-top: 50px;
    height: 150px;
    width: 100%;
    background-color: #000000;
    color: #ffffff;
  }
  
  .footerLinks {
    width: 50%;
    height: auto;
    margin: 0 auto;
    text-align: center;
    padding-top: 10px;
  }
  
  .footerNavs {
    color: white;
    text-decoration: none;
    margin: 5px;
  }
  
  /* style="  active" */
  