body {
    margin: 0%;
    font-family: Poppins, sans serif;
 }

.topNav{
    overflow: hidden;
    background-color: #000000;
    margin-top: 0%;
}

.topNav a {
    float: left;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

.topNavRight {
    float: right;
}

.topNav a:hover {
    background-color: #000282;
    color: #c000a9;
}

.topNav a.active {
    background-color: #c000a9;
    color: #ffffff;
}

.headerImage{
    width:40%;
    display: block;
    margin-left: 50px;
    margin-right: 20px;
    margin-top: 2em;
    opacity: 1.0;
    border-radius: 3px 3px;
    float: left;
}
img {
    float: left;
    margin-left: 50px;
    margin-right: 50px;
    border-radius: 3px 3px;
}

p {
    font-family: Poppins, sans serif;
    font-size: 16px;
    color: #000000;
    text-align: left;
    margin-left: 50px;
    margin-right: 50px;
    margin-top: 2em;
}

h1{
    text-align: left;
    text-transform: uppercase;
    letter-spacing: 3px;
    margin-top: 25px;
}

.text{
    padding-left: 2em;
    padding-right: 2em;
    margin-left: 50px;
    margin-right: 0px;
}

.imgTextOverlay{
    width: 45%;
    position: relative;
    text-align: left;
    color: white;
    font-size: 40px;
    font: optional;
    float: left;
    margin-left: 0px;
    margin-right: 500px;
    margin-top: 25px;
}
.middleImage{ 
    width: 1000px;
    height: 1000px;
    margin-top: 20px;
}
.center{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    float: left;
}
